/* 배너 컨테이너 */
  .rollingbanner{
      position: relative;
      height: 32px;
      font-size: .875rem;
letter-spacing: -1px;
      padding: 7px 15px;
      box-sizing: border-box;
      background-color: #f0f0f0;
      border-radius: 5px;
      margin-bottom: 8px;
      font-family: 'IBM Plex Sans KR', sans-serif;
  }
  /* 타이틀 */
.rollingbanner > .title{
    font-weight: bold;
    float: left;
    padding-right: 10px;
}
/* 롤링 배너 */
.rollingbanner > .wrap{
    position: relative;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}        
.rollingbanner ul{
    list-style: none;
}
.rollingbanner li{
    position: absolute;
    top: -36px;
    left: 0;
}
/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev{
    top: 36px;
    transition: top 0.5s ease;
}
.rollingbanner li.current{
    top: 0;
    transition: top 0.5s ease;
}
.rollingbanner li.next{
    top: -36px;
}
.rollingbanner a{
    display: block;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 1;
    -webkit-box-orient:vertical;
    overflow: hidden;
    color: #000;
}
/* 반대 방향으로 진행 */
.rollingbanner.reverse li.prev{
    top: -36px;
    transition: top 0.5s ease;
}
.rollingbanner.reverse li.next{
    top: 36px;
}